{% extends 'base.html' %}
{% block content %}

  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to the CartX...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae sodales mi. Nullam volutpat fringilla cursus. Ut et ante feugiat, 
                ultrices ex nec, maximus sapien. Cras viverra lorem nulla, ullamcorper eleifend justo malesuada quis. Sed non risus et eros maximus faucibus. 
                Curabitur non neque faucibus, aliquam ante id, sollicitudin est. Aenean eu faucibus augue, ut luctus elit. Ut interdum fermentum sollicitudin. 
                Ut non scelerisque neque. Pellentesque bibendum porttitor ex in aliquet. Etiam volutpat id felis eget scelerisque. Mauris eleifend iaculis lacus sit 
                amet sodales. Cras iaculis semper lorem, eu placerat est vehicula in. Aenean fringilla libero et fermentum ultricies. Aenean quis nunc nec ligula 
                viverra ultrices. Curabitur nec facilisis augue.
                Praesent venenatis, dolor ac lobortis posuere, nibh magna condimentum neque, sed aliquam ipsum dolor non magna. Nam eget odio eu mi fermentum congue ac 
                faucibus metus. Duis sed magna eu libero congue placerat mattis sit amet enim. In nunc arcu, placerat quis erat in, hendrerit tristique libero. Fusce 
                sollicitudin leo erat, a varius purus imperdiet quis. Sed dictum consectetur dolor, et porta dolor sagittis condimentum. Duis scelerisque non erat eget 
                tempor. Ut quam metus, sodales eget lacus quis, vehicula sagittis libero. Proin ut dapibus mi. Duis nec justo eu nibh pulvinar imperdiet. Nam vestibulum
                leo vitae metus faucibus, non pretium libero congue. Aenean luctus dolor at tellus condimentum, ac rutrum ipsum aliquet. Nullam pulvinar pulvinar magna 
                eu faucibus. Sed porttitor justo vel leo pretium, non lacinia quam pharetra. Nullam vel varius metus, in suscipit justo.
                Morbi a erat tempus, volutpat ante nec, scelerisque velit. In turpis turpis, consequat imperdiet ornare sed, dignissim ac ligula. Vivamus non venenatis 
                velit. Cras gravida et nisl ac pellentesque. Aenean vel tincidunt purus, id malesuada nisl. Nulla porta urna rutrum ex tempor, quis porta ex malesuada. 
                Cras sollicitudin urna ac mauris dictum sodales. Donec luctus elit et molestie vulputate. Donec sed tortor facilisis, consectetur lectus vitae, sagittis 
                sapien. Cras mattis sed urna ac rutrum. Pellentesque eget elit eget sapien sollicitudin commodo. Nunc ornare ultricies tellus id molestie.</p>
            </div>
        </center>
    </div>
</div>

<br/><br/>
{% endblock %}